body {
    font-family: monospace, consolas;
    padding: 10px;
    margin: 0px;
}

body > div {
    vertical-align: top;
    display: inline-block;
}

button {
    font-size: 10px;
    margin-top: 6px;
}

.output {
    width: 425px;
    overflow: auto;
    float: left;
}

.output pre {
    height: 600px;
    font-size: 10px;
    margin: 0px 0px 0px 15px;
    padding: 10px;
    background-color: floralwhite;
    border: solid 1px #ccc;
    overflow: auto;
}

.output div {
    text-align: right;
}